<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "ne-np" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    {{ $style := resources.Get "css/style.css" | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "header.html" . }}

    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    
    {{ $js := resources.Get "js/main.js" | minify }}
    <script src="{{ $js.Permalink }}"></script>
</body>
</html>