<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' rel='stylesheet'/>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/designers2077/code/header-2.css'/>

<header class='header-2-wrapper'>
    <div class='h2-top-mini'>
        <div class='h2-container h2-top-mini-flex'>
            <span><i class='fa-solid fa-gamepad'></i> Games</span>
            <span><i class='fa-solid fa-keyboard'></i> युनिकोड</span>
            <span><i class='fa-solid fa-calendar-alt'></i> मिति रूपान्तरण</span>
        </div>
    </div>

    <div class='h2-branding'>
        <div class='h2-container h2-brand-flex'>
            <div class='h2-brand-left'>
                <i class='fa-solid fa-bars h2-menu-icon'></i>
                <div class='h2-date-box'>
                    <div id='h2-nepali-date'>मिति लोड हुँदै...</div>
                    <small>निर्वाचन ५७ दिन बाँकी</small>
                </div>
            </div>

            <div class='h2-logo'>
                <a href='/'><h1 style="font-size: 2.5rem; font-weight: 900; color: #e11d48; margin: 0;">NEELAM <span style="color: #1e293b;">NEWS</span></h1></a>
            </div>

            <div class='h2-brand-right'>
                <i class='fa-regular fa-user-circle'></i>
                <span class='h2-lang'>EN</span>
                <i class='fa-solid fa-magnifying-glass'></i>
            </div>
        </div>
    </div>

    <nav class='h2-nav-bar'>
        <div class='h2-container h2-nav-flex'>
            <ul class='h2-main-menu'>
                <li><a href='/' class='h2-home-icon'><i class='fa-solid fa-house'></i></a></li>
                <li><a href='/posts/'>समाचार</a></li>
                <li><a href='#'>विशेष</a></li>
                <li><a href='#'>प्रदेश</a></li>
                <li><a href='#'>अर्थतन्त्र</a></li>
                <li><a href='/github/'>फाइलहरू</a></li>
                <li><a href='#'>खेलकुद</a></li>
                <li><a href='#'>मनोरञ्जन</a></li>
            </ul>
            <div class='h2-nav-btns'>
                <a href='#' class='btn-p'><i class='fa-solid fa-calendar-days'></i> पात्रो</a>
                <a href='#' class='btn-r'><i class='fa-solid fa-radio'></i> रेडियो</a>
            </div>
        </div>
    </nav>
</header>

<script src='https://cdn.jsdelivr.net/gh/designers2077/code/header-2.js' type='text/javascript'></script>